<footer>
  <div style=" background-color: #F1F1F1; ">
    <div style="padding: 10px;">
      <p style="text-align: center">At your Service,</p>
      <p style="text-align: center">Team Customer Support @ WoGet.app</p>
      <p style="text-align: center">Email:
        <a style="color: blue;">wogetapp@outlook.com</a></p>
      <br />
    </div>
  </div>

</footer>