<header>
  <div>
    <img
      src="https://woget.herokuapp.com/static/media/logo.1d0697ffa04a2ef884ee.png"
      alt="WoGet"
      height="150px"
      width="300px"
    />
    <hr />
  </div>
</header>