<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body: {
            color: black;
        }
    </style>
</head>
<body>
    <div style="border: 1px solid black;  width: 100%">
        <div style="padding:30px;">
            {{>header}}
            <p style="font-family: Verdana;">Hi {{userName}}, </p>
            <p style="font-family: Verdana;">
                {{textName}}
                <br><br>
                {{otherText}}
            </p>
            <p style="font-family: Verdana;">
                Thanks for using our service.
            </p>
        </div>
            {{>footer}}
        
    </div>
</body>
</html>